BASE_SEPOLIA_RPC_URL=
PRIVATE_KEY=
FACTORY_ADDRESS=
FEE_RECIPIENT=
USDC_ADDRESS=
VRF_COORDINATOR=
VRF_KEY_HASH=
VRF_SUBSCRIPTION_ID=
ARISAN_IURAN_AMOUNT=
ARISAN_PERIOD_DURATION=
ARISAN_MAX_MEMBERS=
ARISAN_GRACE_PERIOD_SECONDS=
BASESCAN_API_KEY=
